.container-step{
    width: 30%;
    height: 80%;
}
.wrapper-step{
    width: 100%;
    height: 100%;
    display: flex;
}
.number-step{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.number-step h3{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #004A73;
    font-size: 12px;
    color: white;
}
.pict-step{
    padding-left: 5px;
    width: 15%;
    height: 100%;
    padding-right: 10px;
}
.desc-step{
    width: 80%;
    height: 100%;
}
.desc-step h3{
    font-size: 14px;
    line-height: 1.1rem;
    font-weight: 600;
}
.desc-step h4{
    font-size: 10px;
    line-height: 0.75rem;
    font-weight: 400;
}

@media screen and (max-width:1024px){
    .container-step{
        width: 35%;
        height: 80%;
        padding-right: 10px;
    }
    .wrapper-step{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .number-step{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .number-step h3{
        width: 80%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background-color: #004A73;
        font-size: 9px;
        color: white;
    }
    .pict-step{
        padding-left: 5px;
        width: 15%;
        height: 100%;
        padding-right:25px;
    }
    .desc-step{
        width: 80%;
        height: 100%;
    }
    .desc-step h3{
        font-size: 10px;
        line-height: 0.9rem;
    }
    .desc-step h4{
        font-size: 8px;
        line-height: 0.65rem;
        font-weight: 300;
    }

}

@media screen and (max-width:768px){
    .container-step{
        width: 200px;
        height: 80%;
    }
    .wrapper-step{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .number-step{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .number-step h3{
        width: 80%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background-color: #004A73;
        font-size: 8px;
        color: white;
    }
    .pict-step{
        padding-left: 5px;
        width: 15%;
        height: 100%;
        padding-right: 15px;
    }
    .desc-step{
        width: 80%;
        height: 100%;
    }
    .desc-step h3{
        font-size: 12px;
        line-height: 0.9rem;
    }
    .desc-step h4{
        font-size: 9px;
        line-height: 0.65rem;
        font-weight: 400;
    }

}